html
  head
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css')
  body 
    .min-h-screen.flex.items-center.justify-center.bg-blue-500.py-12.px-4(class='sm:px-6 lg:px-8')
      .max-w-md.w-full
        div
          h2.mt-6.text-center.text-3xl.leading-9.font-extrabold.text-white
            | Error
          h2.mt-6.text-center.text-2xl.leading-9.font-extrabold.text-white
            | #{message}
          a(href='/' class="mt-6 text-center text-1xl leading-9 font-extrabold text-green-50 block py-2 bg-green-400 hover:bg-green-500 hover:text-white rounded")
            | Back